<body class="bg-primary">
<h1>Maciej Zawadzki</h1>
<h2>Jako autor zapraszam do utworzenia swoich ulubionych drużyn piłkarskich wraz z piłkarzami!</h2>
<p><%=link_to 'Dodaj drużynę',clubs_path, class:"btn btn-info" %></p>

<p><%=link_to 'Dodaj piłkarza',players_path, class:"btn btn-info" %> </p>


<%=link_to 'Index',root_path, class:"btn btn-info" %>
</body>

